
TPTM_challenges/.ipynb_checkpoints/decorators-checkpoint.ipynb
TPTM_challenges/.ipynb_checkpoints/regex-checkpoint.ipynb
TPTM_challenges/.ipynb_checkpoints/logging-checkpoint.ipynb
TPTM_challenges/.ipynb_checkpoints/mailer-checkpoint.ipynb
TPTM_challenges/.ipynb_checkpoints/pyperclip-checkpoint.ipynb
RFCS_challenges/.ipynb_checkpoints/wxpython-checkpoint.ipynb
RFCS_challenges/.ipynb_checkpoints/qtpython-checkpoint.ipynb
RFCS_challenges/.ipynb_checkpoints/guessthenumber-checkpoint.py
PSADS_challenges/.ipynb_checkpoints/basic_data_structures-checkpoint.ipynb
RFCS_challenges/.vscode/settings.json
RFCS_challenges/.vscode/launch.json
RFCS_challenges/memory/.vscode/launch.json
RFCS_challenges/memory/.vscode/settings.json
TPTM_challenges/.ipynb_checkpoints/feed_parsing-checkpoint.ipynb
TPTM_challenges/.ipynb_checkpoints/plotly-checkpoint.ipynb
TPTM_challenges/.ipynb_checkpoints/selenium-checkpoint.ipynb
TPTM_challenges/.ipynb_checkpoints/sqlite_demo-checkpoint.ipynb
RFCS_challenges/blackjack/.vscode/launch.json
RFCS_challenges/blackjack/.vscode/settings.json
RFCS_challenges/blackjack/__pycache__/game_models.cpython-37.pyc
RFCS_challenges/skidship/__pycache__/skidship_models.cpython-37.pyc
RFCS_challenges/skidship/.vscode/settings.json
RFCS_challenges/skidship/.vscode/launch.json
DSA_challenges/course_1/.vscode/launch.json
DSA_challenges/course_1/.vscode/settings.json
DSA_challenges/course_1/max_pairwise_product/__pycache__/fast.cpython-37.pyc
DSA_challenges/course_1/max_pairwise_product/__pycache__/naive.cpython-37.pyc
DSA_challenges/course_1/max_pairwise_product/__pycache__/test_fast.cpython-37-PYTEST.pyc
DSA_challenges/course_1/max_pairwise_product/__pycache__/test_mpp.cpython-37-PYTEST.pyc
DSA_challenges/course_1/max_pairwise_product/__pycache__/test_naive.cpython-37-PYTEST.pyc
NMS_challenges/cellular_automata/.vscode/launch.json
NMS_challenges/cellular_automata/.vscode/settings.json
NMS_challenges/cellular_automata/lattice_gas/.vscode/launch.json
NMS_challenges/cellular_automata/lattice_gas/.vscode/settings.json
NMS_challenges/cellular_automata/traffic/.vscode/launch.json
NMS_challenges/cellular_automata/traffic/.vscode/settings.json
NMS_challenges/cellular_automata/traffic/__pycache__/traffic_models.cpython-37.pyc
NMS_challenges/random_walk/.vscode/launch.json
NMS_challenges/random_walk/.vscode/settings.json
NMS_challenges/random_walk/__pycache__/sim_models.cpython-37.pyc
RFCS_challenges/asteroids/.vscode/launch.json
RFCS_challenges/asteroids/.vscode/settings.json
RFCS_challenges/asteroids/__pycache__/game_models.cpython-37.pyc
RFCS_challenges/tictactoe/.vscode/launch.json
RFCS_challenges/tictactoe/.vscode/settings.json
RFCS_challenges/tictactoe/__pycache__/ttt_models.cpython-37.pyc
*.json
*.pyc
