
TPTM_challenges/.ipynb_checkpoints/decorators-checkpoint.ipynb
TPTM_challenges/.ipynb_checkpoints/regex-checkpoint.ipynb
TPTM_challenges/.ipynb_checkpoints/logging-checkpoint.ipynb
TPTM_challenges/.ipynb_checkpoints/mailer-checkpoint.ipynb
TPTM_challenges/.ipynb_checkpoints/pyperclip-checkpoint.ipynb
RFCS_challenges/.ipynb_checkpoints/wxpython-checkpoint.ipynb
RFCS_challenges/.ipynb_checkpoints/qtpython-checkpoint.ipynb
RFCS_challenges/.ipynb_checkpoints/guessthenumber-checkpoint.py
PSADS_challenges/.ipynb_checkpoints/basic_data_structures-checkpoint.ipynb
RFCS_challenges/.vscode/settings.json
RFCS_challenges/.vscode/launch.json
RFCS_challenges/memory/.vscode/launch.json
RFCS_challenges/memory/.vscode/settings.json
TPTM_challenges/.ipynb_checkpoints/feed_parsing-checkpoint.ipynb
TPTM_challenges/.ipynb_checkpoints/plotly-checkpoint.ipynb
TPTM_challenges/.ipynb_checkpoints/selenium-checkpoint.ipynb
TPTM_challenges/.ipynb_checkpoints/sqlite_demo-checkpoint.ipynb
